Source: lodge
Section: utils
Priority: optional
Maintainer: klukashka <klukin0202@yandex.ru>

Package: lodge
Architecture: any
Depends: libc6 (>= 2.28)
Description: Lodge. A place for wanderers to rest.